<div class="footer-movil">
    <div class="contenedor">
             <div class="textos-interiores">
        <img src="build/img/logos/uam.svg" alt="UAM">
        <h3>Contacto</h3>
        <p class="size-14">
            UAM: 55 53 18 9187 y 9189 <br>
            ext. 5575 <br><br>

            Correos electrónicos: <br>
            <a href="mailto:mgart@azc.uam.mx">mgart@azc.uam.mx</a> <br>
            <a href="mailto:mgart1000@gmail.com">mgart1000@gmail.com</a>
            <br><br>

            WhatsApp: 55 2936 0072 <br><br>

            Todas las fotografías <br> pertenecen al <br> Matro. Mauricio Benito <br> Guerrero Alarcón
            <br><br>Sitio por <a href="#" target="_blank" rel="noopener noreferrer">Bk Studio</a>
        </p>

    </div>
    </div>

</div>
</body>

</html>