<nav>
    <div class="contenedor navegador">
        <div class="logo-nombre">
            <img src="build/img/logos/logo_svg.svg" alt="logo">
            <h2>Mauricio Guerrero</h2>
        </div>
        <div class="menu-movil">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="enlaces">
            <a href="#">Académico</a>
            <a href="profesional.php?key=profesional">Profesional</a>
        </div>
    </div>
</nav>
<div class="diagonal"></div>