@mixin coloBg($colorBg){
    background-color:$colorBg ;
}

@mixin telefono{
    @media (min-width: $telefono) {
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin desktop{
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tabletYdesktop{
    @media (min-width:$tablet) and (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-large{
    @media (min-width: $desktop-large) {
        @content;
    }
}

@mixin grid($display,$columnas,$separacionL,$separacionA){
    display:$display;
    grid-template-columns: repeat($columnas, 1fr);
    grid-gap: $separacionL;
    grid-row-gap:$separacionA;
    margin:10px 0;
    padding:0;
}

@mixin OverlayBackgroundColor($color){
    background-color: $color;
    color:$blanco;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}