.size-14{
    font-size: 1.4rem!important;
    line-height: 1.7rem!important;
}
@include telefono{
    .display-tablet{
        display: none;
    }
}
@include tablet{
    .display-tablet{
        display: block;
    }
}

.grid-gap1{
    grid-gap:1rem!important;
}

.underline{
    text-decoration: underline;
}
.row-flex{
    flex-direction: row!important;
    img,h2{margin:10px!important;}
    h2{font-size: 6rem!important;}
}