.size-14{
    font-size: 1.4rem!important;
    line-height: 1.7rem!important;
}
@include telefono{
    .display-tablet{
        display: none;
    }
}
@include tablet{
    .display-tablet{
    display: block;
}
}
