$fuente_principal: 'Lato', sans-serif;

/*Colores*/
$negro: #000000;
$blanco: #ffffff;
$azulBG: #032638;

$verdePizarron: #055c4f;
$azulRey: #030845;
$durazno: #c55428;
$rojoLeve: #bd2136;
$rojoFuerte:#781221;
$moradoFuerte:#21214a;
$naranja: #fa421c;
$azul:#2b4d70;
$verde: #294030;
$carne:#cc996b;
$grisAzul:#808c80;
$morado:#a38cb5;
/*-******** PESOS*/
$light:100;
$medium:500;
$bold:600;
$black:800;