$fuente_principal: 'Lato', sans-serif;
$fuente_apoyo: 'Inter', sans-serif;

/*Colores*/
$negro: #000000;
$blanco: #ffffff;
$azulBG: #032638;
$azulCielo:#168ee7;
$naranjaPrincipal: #F27B1C;
$moradoPrincipal:#3D3DB2;
$rojoFuerte:#9E2105;

$verdePizarron: #055c4f;
$verdeFosfo:#0cc91d;
$azulRey: #030845;
$durazno: #c55428;
$rojoLeve: #bd2136;
$vino: #781221;
$moradoFuerte:#21214a;
$naranja: #fa421c;
$azul:#2b4d70;
$verde: #294030;
$carne:#cc996b;
$grisAzul:#808c80;
$morado:#a38cb5;
$guinda:#6e3b45;
$hueso:#d9bf8f;
$azulGrisOscuro: #293b3b;
$grisOxford: #4d4d4d;
/*-******** PESOS*/
$light:100;
$medium:500;
$bold:600;
$black:800;

/*******mixins********/
$telefono: 480px;
$tablet: 768px;
$desktop: 920px;
$desktop-large: 1200px;