.footer{
    padding: 4rem 0;
    p,a{
        color: $blanco;
    }

    .columna-derecha{
        float: left;
        width: 20%;
        position: absolute;
        top: 100%;
    }
}
.footer-movil{
    display: block;
    background-color: $azulBG;
    margin-top: 4rem;
    padding:4rem 0;
    position: relative;
    float: left;
    width: 100%;
    h3{
        color:$blanco;
    }
}
@include telefono{
    .footer-movil{
        p,a{
            color: $blanco;
        }
    }
}
@media (min-width:768px) {
    .footer-movil{
        display: none;
    }
    .footer{
        a,p{
            color:$azulBG;
        }
        img {
            filter: brightness(0);
        }
    }
}

@include tablet{
    .display-tablet{
        display: block;

        height: 100%;
        width:120%;
    }
}
@include desktop{
    .footer{
        img {
            filter: brightness(1);
        }
       h3{
            color:$blanco;
        }
    }
    .display-tablet{
        background: transparent;
        height: auto;
        width: 100%;
    }
}
