.footer{
    width: 100%;
    padding: 4rem 0;
    p,a{
        color: $blanco;
    }

    .columna-derecha{
        float: left;
        width: 20%;
        position: absolute;
        top: 100%;
    }
}
.footer-movil{
    display: block;
    background-color: $azulBG;
    margin-top: 4rem;
    padding:4rem 0;
    h3{
        color:$blanco;
    }
}
@include telefono{
    .footer-movil{
        p,a{
            color: $blanco;
        }
    }
}
@include desktop{}
@media (min-width:768px) {
    .footer-movil{
        display: none;
    }
}

@include tablet{
    .display-tablet{
        display: block;
        background: #032638;
        position: absolute;
        bottom: 0;
        top: 100%;
        left: 0;
        height: 100%;
        width:120%;
        h3{
            color:$blanco;
        }
    }
}
@include desktop{
    .display-tablet{
        background: transparent;
        height: auto;
        width: 100%;
    }
}
