.lista-de-proyectos{
    position: absolute;
    right: 10%;
    ul{
        list-style: none;
        column-count: 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        float:right;

        img {
            width: 20rem;
            height:20rem;
        }
       .overlay{
            position: absolute;
            top: 0rem;
            height: 20rem;
            width: 20rem;
            opacity: 0;
            transition: .5s ease;
            p{
                color: $blanco;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                line-height: 2.5rem;
                font-weight: 600;

                i{
                    font-weight: $light;
                }
            }
       }
       a{ 
        display: block;
        width: 100%;
        float: left;
        position:relative;
           &:hover .overlay{
               opacity: 1;
           }
       }
    }
}
.verdePizarron{
    @include coloBg($verdePizarron)
}

.azulRey{
    @include coloBg($azulRey)
}

.durazno{
    @include coloBg($durazno)
}

.rojoLeve{
    @include coloBg($rojoLeve)
}
