.textos-interiores{
    h3 {
        color:$blanco;
        font-size: 28px;
        font-weight: 800;
        text-transform: uppercase;
    }
}
.enlaces-curriculums{
    display: flex;
    flex-direction: row;
    gap:5rem;
    padding:5rem 0 0 0;
    a{
        color: #fff;
        font-size: 2rem;
        max-width: 11rem;
        text-align: center;
        padding: 3rem 0;
        line-height: 18px;
        &strong{font-weight:$black ;}
        &.resumen{
            background-color:$moradoPrincipal;
        }
        &.extendido{
            background-color:$rojoFuerte;
        }
    }
}
.linea{
    margin-top:5rem;
}
.textos-interiores img {
    max-width: 12rem;
}
.diagonal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    height:180%;
    background-image: url('../img/diagonal.svg');
    background-size: cover;
    width: 100%;
}
@include desktop-large{
    

    .textos-interiores img {
        margin-left: 5rem;
        padding: 2rem;
    }
}
@include desktop{
}

@include tablet{
    .textos-interiores{
        p,a{
           color:$blanco;
           line-height: 2rem;
        }
    }

}

@include telefono{
    .textos-interiores{
        p,a{
           color:$negro;
        }
    }
    .diagonal{ display:none;}
}