@media (min-width:0) {
    .columnas{
           display: flex;
           flex-direction: column;
    }
    nav {
        .logo-nombre{
            display: flex;
            h2{
                font-family: $fuente_apoyo;
                max-width: 10rem;
            }
        }
    }
    .navegador{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .enlaces {
        display: none;
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        a{
        text-transform: uppercase;
        font-weight: $bold;
        text-shadow: 0px 3px 10px #fff;
        }
    }
    .menu-movil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
            height: .7rem;
            margin: .5rem 0;
            &:nth-child(2n+1){
                background: $azulBG;  
                width: 5rem;
            }
            &:nth-child(2){
                background: $naranjaPrincipal;  
                width: 4rem;
            } 
        }
    }
    .logo-nombre{
        gap:.5rem;
        flex-direction: row;
        img{
            width: 6rem;
        }
    }
}

@media (min-width:480px) {
    .textos-interiores{
        p,a{
           color:$blanco;
           line-height: 2rem;
        }
    }
}

@media (min-width:768px) {
    .columnas{
        flex-direction: row;
    }
    .columnas{
            @include grid(grid,2,4rem,10px,1fr)
        }
}
@media (min-width:920px) {
    h2{color:$blanco;
    }
}

@media (min-width:1100px) {
    .menu-movil{
        display: none;
    }
    .enlaces {
        display: flex;
    }
    h2{
        font-size: 8rem;
        text-align: right;
        line-height: 7rem;
    }
    .logo-nombre{
        flex-direction: column;
    }
    .logo-nombre{
        img{
            width: 6rem;
            margin: 1rem 12rem;
        }
    }
    .enlaces {
        display: flex;
        max-height: 10rem;
        a{
            color:$azulBG;
        }
    }  
}