nav {
    display: flex;

    @include tablet{
        flex-direction: column;
    }
    .logo{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;

        @include tablet{
            width:100%;
        }
        img {
            max-width: 160px;
        }
    }
    .nav{
        align-items: center;
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        @include desktop{
            flex-direction: column;
            width:100%;
        }
        a{ 
            color:$azulBG;
            font-weight:$black;
            font-size: 2rem;
            text-transform: uppercase;

            @include desktop{
                color:$hueso;
            }
        }
    }
}
