.informacion,.lista-de-proyectos{
    width: 50%;
    float:left;
}

.informacion-inicial 
{
    color:$blanco;

    h2 {
    -webkit-text-stroke: .5px $azulBG;
    -webkit-text-stroke-color: $azulBG;
    font-size: 8rem;
    word-break: break-word;
    max-width: 40rem;
    line-height: 8rem;
    text-align: center;
    }
    h3{

        font-size: 3rem;
    }
    p {
        color: $blanco;
        line-height: 2rem;
    }

    .logo-uam{
        max-width: 200px;
        padding: 3rem 0;
        filter: brightness(10);
    }
}
.botones_cv{
    display: flex;
    flex-direction: row;
    gap:2rem;
    .cv-resumen{
        background-color: $morado;
        width: 10rem;
        height: 10rem;
    }
    .cv-extendido{
        background-color: $rojoFuerte;
        width: 10rem;
        height: 10rem;
    }
    p{
        color:$blanco;
        text-align: center;
        font-weight: 900;
        font-size: 1.6rem;
    }
}

.derechos
{
    p{
        font-size: 1rem;
        max-width: 24rem;
    }

}
