.navegacion-lateral{
  /*  @include desktop{
        position: fixed;
        width: 40%;
        margin-top: 20rem;
        top: 0;
    }*/
}
#index{
    .menu-diagonal{
    @include tablet{
        position: absolute;
        background-size: cover;
       } 
    }

}
.menu-diagonal{
    position:relative;
    background:$blanco;
    @include tablet{
        background: url('../img/diagonal.svg');
        background-size: cover;
        width:40%;
        height:190%; 
        position: fixed;
        top: 0;
        left: 0;
         z-index:2;
    }
    @include desktop-large{
         background-size: contain;
        width:85%;
    }
}  

.layout{
    display: block;
    float: right;
    width: 100%;
    &.right{
        flex-direction: row-reverse;
        .enlaces{
            background-color: #ffffff;
            position:fixed;
            right: 0;
        }
    }
    .contenido-interno{
        margin-bottom:3rem;
        @include tablet{
            margin-top:15rem;
            width: 60%;
            float: right; 
        }
    }

}    
footer
{
    position:static;
}
#index{
    .enlaces{
        position:relative;
        gap:8rem;
        float: right;
        justify-content: flex-end;
    }
}
.navegacion-lateral{
    .textos{
        h3,p,a{
            @include tablet{
                color:$blanco;
            }
        }
    }
}