#Expocisiones{
    .proyecto-anio{
        h4{
            @include anios-linea-h4($azulCielo);
        }
    }
} 
#Colectivas{
    .proyecto-anio{
        h4{
            @include anios-linea-h4($guinda);
        }
    }
}
#Obra{
    .proyecto-anio{
        h4{
            @include anios-linea-h4($verdePizarron);
        } 
    }
} 
.linea-del-tiempo{
    img{
        max-width: 250px;
        margin: 0 auto;
        padding: 1rem;
    }
}
.coleccion-imagenes {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    max-height: 320px;
}
.titulos-intermedios{
    h4{
        font-size: 4rem;
        text-transform: uppercase;
        display: inline-grid;
        line-height: 4rem;
        span{
            font-weight: 100;
            font-size: 2rem;
        }
    }
}
.tabcontent{
    padding-top:7rem;
}